
html {
	height: 100%;
}


body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #fff;
	overflow: hidden;
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-color: #34b3a0;
  position: relative;
  overflow: hidden;
  box-sizing:  border-box;
}

/*custom fonts - Bitter, Montserrat*/
@import url('http://fonts.googleapis.com/css?family=Montserrat|Bitter');

/*basic reset*/

h1 {
  font: normal 32px/32px Bitter; color: white;
  text-align: center; padding: 85px 100px;
}

/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
  display: block; position: absolute;
  background: #34b3a0;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 5.5s ease-out, opacity 0.3s ease-in;
}


.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}