html body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-smoothing: antialiased;
  color: #fff;
  overflow: hidden; }
html canvas {
  display: block; }
html p {
  border-radius: 3px;
  box-shadow: 1px 1px 1px #fff; }
html *.unselectable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
